.main-header {
	background-color: #FFF;
	margin: 50px auto;
	text-align: center;
}

.leaderboards {
	background-color: #F5F5F5;
  padding-top: 20px;
  padding-bottom: 15px;
  border: solid 1px #DDDDDD;
  border-radius: 5px;
}

.leaderboards img {
  width: 50px;
}

.leaderboards .col-sm-4 {
  margin: 50px auto;
  text-align: center;
}

.weapon {
  display: inline-block;
  width: 33.33333%;
}

.weapon-img {
  width: 50px;
}

.weapon-name {
  font-weight: bold;
}

.opponent-col {
  height: 320px;
}

.opponent-status {
  padding-top: 40px;
  height: 200px;
}

#chat-window {
  margin-top: 25px;
  margin-bottom: 50px;
}

#chat-history {
  border: solid 2px #CCC;
  border-radius: 5px;
  margin: 10px;
  height: 200px;
  overflow-x:hidden;
  overflow-y:visible;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}

#chat-history p {
  margin-top: 15px;
  margin-bottom: 20px;
}

.chat-player-name { color: blue; }
.chat-opponent-name { color: red; }
#new-chat-message { width: 88.999999%; }
#message-send-btn { width: 9.999999%; }
#send-chat-message { margin: 10px 7px; }

.hidden {
	display: none;
}

/* -- Sticky footer styles -- */
html {
  position: relative;
  min-height: 100%;
}

body { margin-bottom: 60px; } /* Margin bottom by footer height */

.footer {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding: 20px 20px;
  background-color: #222;
  color: #FFF;
  font-size: 12px;
}

 /* -- Bootstrap overwritten styles -- */
.navbar-inverse .navbar-toggle { color: #FFF; }
.navbar-inverse .navbar-brand { color: #FFF; }
.navbar-inverse .navbar-nav>li>a { color: #FFF; }
.navbar { border-radius: 0px; }
.form-control { display: inline; }